body {
  font-family: Inter, system-ui,Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color:rgb(234, 231, 197);
  /*NOTE, was able to use relative path background with double quotations, singular only works for exact path*/
  /* background-image: url("assets/bg.jpg");*/
  background-repeat: no-repeat;
  background-size:fit;
  background-position:center;
}

h1 {
  text-align: center;
  background-color: rgb(177, 57, 1);
  color:rgb(232, 242, 92);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

div {
  padding: 20px;
}

button {
    border: none;
    border-radius: 3px;
    font-style: italic;
    font-size: 0.8em;
    margin: 4px 6px;
    width: 50px;
    height: 25px;
}

.doneButton {
  position: center;
  bottom: 5px;
  left: 5px;
  color: green;
}

.container{
  text-align: center;
}

.card {
  display: inline-block;
  vertical-align: top;
  font-family: system-ui;
  color: rgb(235, 51, 14);
  text-align: center;
  width: 180px;
  height: 240px;
  margin: 10px;
  padding: 10px;
  position: relative;
  border-radius: 50px;
}
.title {
  font-weight: bold;
  font-size: 1.2em; 
}

.deadline{
  color:rgb(214, 77, 23);
}

.description {
  font-weight: italic;
  color:yellow;
}
